doctype html
html
    head
        meta(charset="utf-8")
        title Book Store - REST to GraphQL Demo
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0")
        link(rel="stylesheet", href="/fonts/fonts.css")
        link(rel="stylesheet", href=styles)
    body
        #Application(data-version=version)
            .container
                .row
                    .col
                        .jumbotron
                            h1.display-3 Book Store Application
                            h2.display-6 #{version}
                            hr.my-4
                            p Please wait while the application Loads...
        script(src=script)
